@font-face {
    font-family: Spiderman;
    src: url('../fonts/Spider-Man.otf');
  }

div{
    font-family: Spideman;
}

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}